<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.arven.home.dao.FileDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, path, show_name, real_name, creator, type, tag, crosswise, create_time, update_time, profile
    </sql>
    <select id="getFileByTag" resultType="cn.net.arven.common.entity.File">
        SELECT
        file.id,
        path,
        show_name,
        real_name,
        creator,
        type,
        tag.name tag,
        crosswise,
        file.create_time,
        file.update_time,
        PROFILE
        FROM
        file
        INNER JOIN file_tag
        ON file_tag.file = file.id
        INNER JOIN tag
        ON file_tag.tag = tag.id
        WHERE
        <choose>
            <when test="tagIdList != null and tagIdList.size() > 0">
                file_tag.tag IN
                <foreach item="item" index="index" collection="tagIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                file_tag.tag =  'gallery'
            </otherwise>
        </choose>

        <choose>
            <when test="crosswise!=null">
                AND crosswise = #{crosswise}
            </when>
        </choose>
        ORDER BY RAND()
        <choose>
            <when test="limit">
                LIMIT #{limit}
            </when>
        </choose>
    </select>
    <select id="selectPageList" resultType="cn.net.arven.home.vo.FileVO">
        SELECT DISTINCT
        file.id,
        file.show_name showName,
        file.create_time createTime,
        (SELECT GROUP_CONCAT(file_tag.tag) FROM file_tag WHERE file_tag.file = file.id) AS tag,
        file.real_name path
        FROM
        file LEFT JOIN file_tag
        ON
        file.id = file_tag.file
        <where>
            1=1
            <if test="tagIdList != null and tagIdList.size() > 0" >
                AND file_tag.tag IN
                <foreach item="item" index="index" collection="tagIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="name != null and name != ''" >
                and file.show_name like #{name}
            </if>
        </where>
    </select>
    <select id="selectShowOne" resultType="cn.net.arven.common.entity.File" parameterType="java.lang.String">
         SELECT DISTINCT
          GROUP_CONCAT(tag.name) tag,
          file.id,
          file.path,
          file.show_name,
          file.real_name,
          file.creator,
          file.type,
          file.crosswise,
          file.create_time,
          file.update_time,
          file.profile
         FROM
            file LEFT JOIN file_tag
         ON
            file.id = file_tag.file
            LEFT JOIN tag ON tag.id = file_tag.tag
         WHERE file.id = #{id}
    </select>


</mapper>
