<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>文件上传</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <script src="/static/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
    <script src="/static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <style type="text/css">
        span {
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>

<div style="margin-top: 100px;">
    <div>
        <input type="hidden" id="file"/>
        <span>
            标签tag：
            <input type="text" id="tag"/>
        </span>
        <br/>
        <span>
            <button type="button" class="layui-btn" id="ticket">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
            <br/>
            <p id="msg" style="text-align: center;color: #0000FF"></p>
            <br/>
            <a id="source" title="点击查看原图" target="_blank">
                <img src="#" id="picture" style="display: none;" width="200px"/>
            </a>
        </span>
    </div>
    <br/><br/>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/



    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#ticket' //绑定元素
            , multiple: true
            , accept: 'file'
            , url: ctxPath+'upload' //上传接口
            ,data: { 'tag': function () {
                    return $("#tag").val();
                }}
            , done: function (res) {
                //上传完毕回调
                var fileId = res.fileId;
                $("#file").val(fileId);
                $("#msg").text("文件已上传。");
                $("#picture").css("display", "");
                $("#picture").attr("src", ctxPath+"view/breviary/" + fileId);
                $("#source").attr("href", ctxPath+"view/truth/" + fileId);
                
                layer.msg("上传成功！")
            }
            , error: function () {
                layer.msg("上传失败！")
            },allDone: function(obj){ //当文件全部被提交后，才触发
                var str = "得到总文件数: "+obj.total+"</br>请求成功的文件数: "+obj.successful+"</br>请求失败的文件数: "+obj.aborted;
                $("#msg").html(str);
        }
        });
    });
</script>
</body>
</html>