<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>标签管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <script src="/static/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
    <script src="/static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <style type="text/css">
        .image-item{
            width: 100%;
        }
    </style>
</head>
<body>

<div class="layui-form">
    <input th:value="${image.tag}" name="tag" type="hidden"/>
    <input th:value="${image.id}" name="id" type="hidden"/>
    <br/>
    <br/>
    <div class="layui-form-item" style="width: 50%;margin: auto;">
        <label class="layui-form-label">图片名称：</label>
        <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入图片名称" class="layui-input" th:value=" ${image.showName}">
        </div>
    </div>
    <br/>
    <br/>
    <div class="layui-form-item" style="width: 50%;margin: auto;">
        <label class="layui-form-label">标签tag：</label>
        <div class="layui-input-block">
            <input type="checkbox" class="tag_checkbox" th:value="${tag.id}" th:each="tag : ${tagList}"
                   th:title="${tag.name}">
        </div>
    </div>
    <br/>
    <br/>
    <div class="layui-form-item" style="width: 50%;margin: auto;">
        <label class="layui-form-label">简介：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="profile" class="layui-textarea" th:text=" ${image.profile}">xx</textarea>
        </div>
    </div>
    <br/>
    <br/>
    <div class="layui-form-item" style="width: 50%;margin: auto;">
        <button type="submit" style="float: right;" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
    </div>
    <br/>
    <br/>
    <div class="layui-form-item" style="width: 50%;margin: auto;">
        <img th:src="${large + image.realName}" class="image-item" th:alt="${image.showName}" th:title="${image.showName}"/>
    </div>
    <br/>
    <br/><br/>
    <br/>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';

    /*]]>*/




    layui.use('form', function () {
        var form = layui.form;
        form.render();
        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

    });

    $(function () {
        var fileTagList = [[${fileTagList}]];
       $(":checkbox").each(function () {
           for (var fileTag of fileTagList) {
               var v = $(this).val();
               if(v == fileTag) {
                   $(this).attr("checked","checked");
               }
           }
       })
    });
</script>

</body>
</html>